.about-page *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ab-section1{
    width: 100%;
    height: 500px;
    background-color: rgb(108, 110, 207);
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.box1{
   flex: 2;
   /* background-color: black; */
   height: 300px;
   width: 100%;
   color: white;
   display: flex;
   flex-direction: column;
   gap: 40px;
   justify-content: center;
   /* align-items: center; */
   /* border-radius: 100%; */
}
.box1 h1{
    font-size: 70px;
}
.box1 p{
    font-size: 25px;
}
.box2{
    flex: 1;
    /* background-color: rgb(213, 213, 213); */
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 100%; */
}
.image-box{
    height: 300px;
    width: 300px;
    background-color: rgb(63, 88, 187);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    border: 3px solid rgb(178, 195, 246);
}



.ab-section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    gap: 70px;
    padding-bottom: 70px;
}
.ab-section2 h1{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.7);
}
.section2-cards-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.section2-card{
    height: 380px;
    width: 375px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 35px;
    transition: all 0.3s ease;
}
.section2-card:hover{
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
}
.section2-card h3{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.7)
}
.section2-card p{
    font-size: 18px;
}
.picon{
    height: 100px;
    width: 100px;
    color: white;
    font-size: 35px;
    border-radius: 100%;
    background-color: rgb(63, 88, 187);
    display: flex;
    justify-content: center;
    align-items: center;
}




.ab-section3{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(234, 238, 255);
    gap: 50px;
}
.ab-section3 h1{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.7);
}
.map-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 30px; */
}
.map-tile{
    background-color: black;
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile-box1{
    width: 100%;
    flex: 1;
    background-color: rgb(234, 238, 255);
    height: 300px;
    border-right: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.tile-box2{
    width: 100%;
    flex: 1;
    background-color: rgb(234, 238, 255);
    height: 300px;
    border-left: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}   
.journey-box{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s;
}
.journey-box:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.4);
}

.journey-box p{
    color: rgba(0, 0, 0, 0.6);

}
.circle-icon{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-circle{
    height: 20px;
    width: 20px;
    border: 6px solid white;
    border-radius: 100%;
}

.tile-box2 .circle-icon{
    /* background-color: white; */
   transform: translateX(-200px);
}
.tile-box1 .circle-icon{
    transform: translateX(200px);
}






.ab-section4{
    background-color: white;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    
}
.ab-section4 h1{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.7);
}
.ab-section4 p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.section4-cards-box{
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}
.section4-card{
    height: 250px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
    transition: all 0.3s;
}
.section4-card:hover{
    transform: scale(1.05);
    
}
.interest-icon{
    height: 70px;
    width: 70px;
    background-color: rgb(63, 88, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-size: 30px;
}
.section4-card h4{
    font-size: 20px;
}
.section4-card p{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}





.ab-section5{
    display: flex;
    background-color: rgb(234, 238, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
    text-align: center;
}

.ab-section5 h1{
    font-size: 55px;
}
.ab-section5 p{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
}

.section5-btn-box{
    display: flex;
    gap:30px;
}
.section5-btn-box a{
    height: 50px;
    width: 250px;
    background-color: rgb(102, 102, 251);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 25px;
    transition: all 0.3s;
}

.section5-btn-box a:hover{
    background-color: blue;
    transform: scale(1.05);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}



