* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.model-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease forwards;
}
.meeting-card {
  height: 700px;
  width: 900px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  animation: popupIn 0.3s ease forwards;
}

@keyframes popupIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 20px;
}
.close-btn:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.meeting-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  height: 700px;
}
.meeting-form h2 {
  font-size: 40px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-group label {
  font-size: 20px;
}
.form-group input {
  height: 40px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid rgb(165, 165, 165);
  padding: 5px;
  font-size: 20px;
  transition: all 0.3s;
}
.form-group input:focus {
  border: 1px solid blue;
  outline: none;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}
.form-group textarea {
  width: 820px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid rgb(165, 165, 165);
  padding: 5px;
  transition: all 0.3s;
}
.form-group textarea:focus {
  border: 1px solid blue;
  outline: none;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}
.form-group select {
  height: 40px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid rgb(165, 165, 165);
  padding: 5px;
  font-size: 20px;
  transition: all 0.3s;
}
.form-group select:focus {
  border: 1px solid blue;
  outline: none;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}
.two-item-box {
  display: flex;

  gap: 20px;
}
.meeting-form button {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
  background-color: rgb(124, 124, 248);
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.meeting-form button:hover {
  background-color: blue;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}
