.education-section1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 80px;
    background-color: rgb(226, 226, 255);
}
.education-section1 h1{
    font-size: 70px;
    font-weight: 600;
    color: rgb(76, 76, 255);
}
.education-section1 p{
    color: rgb(102, 102, 102);
    font-size: 20px;
}



.education-section2{
    display: flex;
    padding: 80px;
    /* align-items: center; */
    justify-content: center;
    gap: 60px;
}
.education-section2-card{
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s;
}
.education-section2-card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}
.education-card-heading{
    display: flex;
    gap: 30px;
}
.education-card-logo{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, blue, rgb(156, 149, 255));
    border-radius: 20px;
    font-size: 30px;
    color: white;
}
.education-card-heading-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.clg-name{
    color: rgb(89, 89, 255);
}
.education-period{
    color: rgb(89, 89, 255);
    /* padding: 10px 15px; */
    background-color: rgb(223, 226, 253);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
}
.edu-desc{
    display: flex;
    gap: 20px;
    align-items: center;    
    font-size: 18px;
}



.education-section3{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 80px;
    background-color: rgb(246, 246, 255);
    gap: 40px;
}
.education-section3 h1{
    font-size: 60px;
}
.education-section3 p{
    font-size: 20px;
    color: rgb(82, 82, 82);
}
.exc-container{
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(3, 1fr);
}
.exc-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    /* justify-content: center; */
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: all 0.3s;
}
.exc-card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}
.exc-card i{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(0, 21, 255);
    background-color: rgb(193, 193, 252);
}
.exc-card h1{
    font-size: 40px;
    color: rgb(51, 51, 255)
}
.exc-card p{
    font-size: 15px;
    color: rgb(102, 102, 102);
}




.education-section4{
    background-color: white;
}
.focus-cards{
    display: flex;
    /* grid-template-columns: 3; */
    gap: 40px;
}
.focus-card{
    padding: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    transition: all 0.3s;
}
.focus-card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}
.focus-card-heading{
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgb(81, 81, 255);
}
.focus-card-heading i{
    font-size: 25px;
}

.focus-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.focus-buttons p{
    padding: 8px 15px;
    border-radius: 30px;
    border: 1px solid rgb(119, 162, 255);
    background-color: rgb(230, 230, 255);
    transition: all 0.3s;
}
.focus-buttons p:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}




.education-section5{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px;
    background-color:rgb(246, 246, 255);
    align-items: center;
}
.education-section5 h2{
    font-size: 60px;
    color: rgb(46, 46, 46);
}
.education-section5 p{
    font-size: 20px;
    color: rgb(88, 88, 88);
}
.verification-cards{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.verification-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    transition: all 0.3s;
}
.verification-card:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}
.verification-card i{
    font-size: 35px;
    color: rgb(92, 92, 255);
}
.verification-card h3{
    font-size: 25px;
}
.verification-card p{
    font-size: 15px;
}