.experience-container *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.experience-container{
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(150deg, rgb(63, 117, 255), rgb(255, 46, 46));
    /* justify-content: center; */
}
.exp-section1{
    display: flex;
    /* justify-items: center; */
    align-items: center;
    gap: 40px;
    flex-direction: column;

}
.exp-section1 h1{
    font-size: 60px;
    color: white;
}
.exp-section1 p{
    font-size: 20px;
    color: white;
}
.exp-section1-box{
    background-color: white;
    width: 1000px;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}
.exp-section1-box p{
    color: rgb(102, 102, 102);
    text-align: center;
}
.exp-section1-box h2{
   height: 50px;
   width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(130deg, rgb(80, 164, 255), rgb(0, 0, 74));
   color: white;
   border-radius: 30px;
}
.exp-section1-icon{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(130deg, rgb(80, 164, 255), rgb(0, 0, 74));
}





.exp-section2{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.exp-section2 h1{
    color: white;
    font-size: 60px;
}
.exp-section2-cards{
    display: flex;
    gap: 20px;
}
.exp-section2-card{
    width: 500px;
    /* height: 300px; */
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.exp-section2-card-heading{
    display: flex;
    gap: 30px;
    align-items: center;

}
.exp-section2-card-heading p{
    font-weight: 650;
    color: rgb(60, 60, 255);

}
.exp-section2-title{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.exp-section2-icon{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    color: white;
    background-color: rgb(45, 58, 132);
    border-radius: 20px;
}
.exp-dateloc p{
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgb(118, 118, 118);
}
.exp-dateloc i{
    color: rgb(94, 94, 248);
}
.exp-section2-points{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.exp-point{
    display: flex;
    gap: 10px;
}
.exp-point i{
    margin-top: 5px;
    color: rgb(94, 94, 248);
}
.exp-skill-buttons{
   display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.exp-skill-buttons h3{
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    background-color: rgb(214, 221, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: 1px solid rgb(153, 153, 255);
    transition: all 0.3s;
}
.exp-skill-buttons h3:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.exp-section3{
    padding-top: 20px;
    padding-bottom: 20px;

}
.exp-section3-card{
    background-color: white;
    padding: 40px;
    width: 1020px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
    /* justify-content: center; */
    text-align: center;

}
.exp-section3-card h1{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8);
}
.exp-section3-card p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}
.exp-section3-buttons{
    display: flex;
    gap: 40px;
   
}
.exp-section3-buttons .btn1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    background: linear-gradient(130deg, rgb(181, 181, 255), rgb(8, 8, 255)) ;
    transition: all 0.3s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.exp-section3-buttons .btn1:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}
.exp-section3-buttons .btn1 i{
    font-size: 20px;
}
.exp-section3-buttons .btn1 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.exp-section3-buttons .btn2{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 40px;
    /* background: linear-gradient(130deg, rgb(181, 181, 255), rgb(8, 8, 255)) ; */
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all 0.3s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    
}
.exp-section3-buttons .btn2 i{
    font-size: 20px;
}
.exp-section3-buttons .btn2:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
    background-color: rgb(145, 145, 255);
    color: white;
}