.experience-container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.experience-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(150deg, rgb(63, 117, 255), rgb(255, 46, 46));
}
.exp-section1 {
  display: flex;

  align-items: center;
  gap: 40px;
  flex-direction: column;
}
.exp-section1 h1 {
  font-size: 60px;
  color: white;
}
.exp-section1 p {
  font-size: 20px;
  color: white;
}
.exp-section1-box {
  background-color: white;
  width: 1000px;
  border-radius: 20px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}
.exp-section1-box p {
  color: rgb(102, 102, 102);
  text-align: center;
}
.exp-section1-box h2 {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(130deg, rgb(80, 164, 255), rgb(0, 0, 74));
  color: white;
  border-radius: 30px;
}
.exp-section1-icon {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(130deg, rgb(80, 164, 255), rgb(0, 0, 74));
}

.exp-section2 {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.exp-section2-heading {
  font-size: 50px;
  color: white;
  padding: 60px;
}
.exp-section2-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  justify-content: center;
}

.exp-section2-card {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
}
.exp-card-heading {
  display: flex;

  align-items: center;
  gap: 30px;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding-bottom: 20px;
  padding-left: 10px;
}
.exp-card-heading img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.exp-card-heading-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.exp-card-heading-title h2 {
  width: 300px;
}

.card-comname-worktype {
  display: flex;
  gap: 40px;
}
.work-type {
  background-color: rgb(173, 173, 254);
  border-radius: 20px;

  padding-left: 10px;
  padding-right: 10px;

  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp-card-block2 {
  margin-top: 15px;
  display: flex;
  gap: 30px;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding-bottom: 15px;
  padding-left: 10px;
}
.exp-card-block2 a {
  color: rgb(129, 129, 255);
}
.exp-card-block3 {
  padding: 15px 10px;

  border-bottom: 1px solid rgb(209, 209, 209);
}
.exp-card-block3 p {
  width: 300px;
  color: rgb(79, 79, 79);
}
.exp-card-block4 {
  margin-top: 15px;
  border-bottom: 1px solid rgb(209, 209, 209);
}
.exp-card-block4-heading {
  display: flex;
  gap: 20px;

  align-items: center;
  color: rgb(70, 70, 70);
}
.exp-card-block4-heading a {
  color: rgb(129, 129, 255);
}

.exp-card-tech-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 400px;
  margin: 20px 0px;
}
.exp-card-tech-buttons p {
  background-color: rgb(216, 175, 255);
  padding: 5px 20px;
  border-radius: 20px;
}

.exp-card-block5 {
  margin-top: 15px;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding-bottom: 15px;
}
.exp-card-block5-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.exp-card-block5-listitem a {
  color: rgb(129, 129, 255);
}
.exp-card-block6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.exp-card-block6 button {
  padding: 10px;
  width: 200px;
  border: 1px solid blue;
  background-color: rgb(109, 109, 255);
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.exp-card-block6 button:hover {
  transform: scale(1.07);
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
}

.exp-section3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.exp-section3-card {
  background-color: white;
  padding: 40px;
  width: 1020px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 20px;

  text-align: center;
}
.exp-section3-card h1 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
}
.exp-section3-card p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.exp-section3-buttons {
  display: flex;
  gap: 40px;
}
.exp-section3-buttons .btn1 {
  display: flex;

  align-items: center;
  gap: 20px;
  padding: 20px;
  text-decoration: none;
  color: white;
  border-radius: 40px;
  background: linear-gradient(130deg, rgb(181, 181, 255), rgb(8, 8, 255));
  transition: all 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.exp-section3-buttons .btn1:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}
.exp-section3-buttons .btn1 i {
  font-size: 20px;
}
.exp-section3-buttons .btn1 a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.exp-section3-buttons .btn2 {
  display: flex;

  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 40px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: all 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.exp-section3-buttons .btn2 i {
  font-size: 20px;
}
.exp-section3-buttons .btn2:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
  background-color: rgb(145, 145, 255);
  color: white;
}
