*{
    margin: 0;
    padding: 0;
}
.footer{
    height: 520px;
    width: 100%;
    background-color: rgb(69, 56, 86);
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* justify-content: center; */
    padding-top: 50px;
    /* align-items: center; */
    /* padding: 30px; */
}
.footerBox{
    height: 350px;
    width: 400px;
    /* border: 1px solid white; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    color: white;
    gap: 17px;
    font-size: 17px;
    transition: all 0.2s ease-in-out;
    box-shadow: 6px 6px 10px rgb(0, 0, 0);
}
.footerBox:hover{
    transform: scale(1.02);
    background-color: rgb(31, 70, 103);
}
.footerBox-line{
    height: 1px;
    background-color: white;
    width: 350px;
}
.footerBox a{
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
}
.footerBox a:hover{
    color: rgb(118, 118, 118);
}
.footerBox a:active{
    transform: scale(0.8);
}   
.section1{
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color: rgb(69, 56, 86);
}
.section2{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    background-color: rgb(69, 56, 86);
    /* align-items: center; */
}
#section2-line{
    height: 1px;
    background-color: white;
    width: 1400px;
}
.section2 p{
    color: white;
}