*{
    margin: 0;
    padding: 0;
}
.login-container{
    height: 700px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
    flex-direction: column;
    padding-top: 50px;
}
.login-container h1{
    font-size: 50px;
    color: black;
}
.login-card{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    /* gap: 10px; */
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.login-card label{
    font-size: 20px;
    font-weight: 600;
    color:#333;
    margin-bottom: 10px;
}
.login-card h1{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
}
.login-card input{
    height: 35px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 17px;
    transition: all 0.3s;
    
}
.login-card input:focus{
    outline: none;
    border: 1px solid blue;
}
.login-card button{
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
    background-color: rgba(0, 0, 255, 0.5);
    transition: all 0.2s;
    color: white;
}
.login-card button:hover{
    transform: scale(1.02);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}
.login-card button:focus{
    transform: scale(1);
}
.inputfield-container{
    display: flex;
    flex-direction: column;
    width: 350px;
}