.page-management-container *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heading{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-color: rgb(144, 144, 255);
    color: white;
    font-size: 50px;
}
.management-sections{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;  
    gap: 30px; 
}
.management-card{
    height: 200px;
    width: 250px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.3s;
}
.management-card:hover{
    /* transform: translateY(-10px); */
    background-color: rgb(238, 238, 255);
    /* border: 1px solid black; */
}
.management-card-active{
    transform: translateY(-10px);
    background-color: rgb(238, 238, 255);
    border: 1px solid black;
}

.management-card i{
    font-size: 50px;
    color: rgb(101, 101, 252);
}
.management-card h2{
    font-weight: 600;
    font-size: 23px;
}




.mag-form{
    padding: 30px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    margin: 20px;
    margin-left: 75px;
    margin-right: 75px;
    border-radius: 20px;
    display: none;
}
.mag-form.active{
    display: block;
}
.mag-line{
    height: 2px;
    background-color: rgb(184, 184, 184);
}
.mag-two-items{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
.mag-sm-input{
    display: flex;
    flex-direction: column;

    gap: 10px;
}
.mag-sm-input input,
.mag-sm-input select{
    height: 40px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid rgb(151, 151, 151);
    padding: 5px;
    font-size: 20px;
    outline: none;
    transition: all 0.3s;
}
.mag-sm-input input:focus,
.mag-sm-input select:focus{
    border: 1px solid blue;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.mag-sm-input label{
    font-size: 20px;
}
.mag-single-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}
.mag-bg-input{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.mag-bg-input input{
    width: 1220px;
    border-radius: 10px;
    height: 40px;
    border: 1px solid rgb(151, 151, 151);
    font-size: 20px;
    padding: 5px;
    outline: none;
    transition: all 0.3s;
}
.mag-bg-input input:focus{
    border:1px solid blue;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.mag-bg-input textarea{
    width: 1220px;
    border-radius: 20px;
    height: 200px;
    padding: 30px;
    font-size: 20px;
    border: 1px solid rgb(151, 151, 151);
    outline: none;
    transition: all 0.3s;
}
.mag-bg-input textarea:focus{
    border: 1px solid blue;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.mag-bg-input label{
    font-size: 20px;
}
.mag-btn{
    height: 40px ;
    width: 100px;
    background-color: rgb(86, 86, 252);
    color: white;
    border-radius: 10px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 650;
    transition: all 0.3s;
}
.mag-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: blue;
}
.mag-mid-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mag-mid-input input{
    height: 40px;
    width: 1080px;
    border-radius: 10px;
    border: 1px solid rgb(151, 151, 151);
    padding: 10px;
    font-size: 20px;
    outline: none;
    transition: all 0.3s;
}
.mag-mid-input input:focus{
    border: 1px solid blue;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.mag-mid-input label{
    font-size: 20px;
}
.mag-submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mag-submit-button input{
    width: 1220px;
    height: 40px;
    background-color: rgb(86, 86, 252);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    transition: all 0.3s;
}
.mag-submit-button input:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    background-color: blue;
}
.mag-submit-button button{
    height: 40px;
    width: 1220px;
    border-radius: 10px;
    background-color: rgb(86, 86, 252);
    color: white;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    transition: all 0.3s;
}
.mag-submit-button button:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: blue;
}