.project-container *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.project-container{
    width: 100%;
    
}
.project-section1{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color:  rgba(0, 0, 255, 0.15);
    text-align: center;
}
.project-section1 h1{
    font-size: 70px;
    color: rgb(127, 127, 255);
}
.project-section1 p{
    font-size: 23px;
    color: rgb(101, 101, 101);
}


.project-section2{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.project-section2-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
}
.project-section2-heading h2{
    font-size: 50px;
}
.project-section2-heading div{
    height: 7px;
    width:  200px;
    background: linear-gradient(130deg, blue, rgb(119, 194, 255));
    border-radius: 20px;
}
.project-section2-heading p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);

}
.project-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}
.project-card{
    width: 600px;
    /* padding: 30px; */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* display: ; */
}
.project-card:hover img{
    height: 110%;
    width: 110%;
}
.project-banner{
    overflow: hidden;
    position: relative;
    height: 220px;
}
.project-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}
.project-banner h3{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    background-color: rgb(95, 98, 255);
    font-weight: 500;
    padding: 5px 12px;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5) ;
}
.project-content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 25px;
    gap: 20px;
}
.project-skills{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.project-skill{
    background-color: rgb(217, 227, 252);
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid rgb(157, 157, 255);
    transition: all 0.3s;
    color: blue;
}
.project-skill:hover{
    transform: translateY(-5px);
    background-color: rgb(61, 61, 254);
    color: white;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}
.project-buttons{
    display: flex;
    gap: 30px;
    align-items: ceenter;
    /* justify-content: center; */

}
.project-btn1{
    background-color: blue;
    height: 20px;
    color: white;
    padding: 25px 20px;
    text-decoration: none;
    border-radius: 30px;
    /* width: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all 0.3s;
}
.project-btn1:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}
.project-btn2{
    background-color: white;
    height: 20px;
    color: blue;
    /* color: white; */
    padding: 25px 20px;
    border: 1px solid blue;
    text-decoration: none;
    border-radius: 30px;
    /* width: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all 0.3s;
}
.project-btn2:hover{
    background-color: blue;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}





.project-section3{
    display: flex;
    gap: 50px;
    background-color: rgb(233, 249, 255);
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.project-section3-cards{
    display: flex;
    gap: 30px;
}
.project-section3-card{
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 0.3s;
}
.project-section3-card:hover{
    transform: translateY(-10px);
}
.section3-card-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.section3-card-heading i{
    height: 50px;
    width: 50px;
    background-color: blue;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: white;
}
.project-section3-skills{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.project-section3-skills p{
    background-color: rgba(0, 0, 255, 0.2);
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid rgb(138, 138, 255);

}